@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
.container{
    max-width: 750px;
    margin: auto;
    text-align: center;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: rgb(233, 232, 232);
}
textarea{
    background-color: rgb(41, 39, 39);
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size:large;
}
.header {
    padding: 50px 20px;
    text-align: center;
  }
.header h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    color: #3CA1D9; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 0; 
    line-height: 1;
}
.header h2:before, .header h2:after {
    content: ""; 
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px);
}
.header h2:before {left: 0;}
.header h2:after {right: 0;}
@media (max-width: 420px) {
    .header h2 {font-size: 2em;}
}
.input-part{
    margin: auto;
    padding: 15px;
}
.input-part  div{
    margin-bottom: 10px;
}
.code-part{
    margin: auto;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 0.8em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
.reset {
    margin: auto;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.reset:hover {
    box-shadow: 0 0 0px 40px #e74c3c inset;
}

.compile{
    margin: auto;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border-color: #3ce78c;
    color: #3ce78c;
}
.compile:hover{
    box-shadow: 0 0 0px 40px #3ce78c inset;
}
.CodeMirror {
    text-align: left!important;
}
.CodeMirror {
    text-align: left!important;
}
.github_ref_btn{
    padding-left : 32px;
    padding-top : 10px;
    padding-bottom : 10px;
    background-repeat : no-repeat;
}
